.google-map {
  height: 500px;
  width: 500px
}

.navbar-default .navbar-brand {
  line-height: 25px;
}

.container > .navbar-header {
  float: left;
}

.navbar .nav > li {
  display: inline-block;
}

.navbar-default .logout {
  float: right;
}

.ui.card.entry {
  width: 80%;
  margin: auto;
}

.ui.card.entry:hover {
  cursor: pointer;
  text-decoration: none;
}

.card.entry .header {
  height: 30px;
}

.card.entry .author {
  float: left;
}

.card.entry .date {
  float: right;
}

.modal-content .modal-header {
  font-size: 25px;
}

.modal-content label {
  font-weight: 400;
}

.modal-header .close {
  margin-top: 4px;
  font-size: 25px;
}